<div class="box">
<table>
<tr>
    <td ><h2><%= link_to "プロフィール", profile_users_path, class:"account" %></h2></td>
    <td class="profile"><h2>アカウント</h2></td>
</tr>
  <tr>
    <td><strong>メールアドレス</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><strong>パスワード</strong></td>
    <td>*********</td>
  </tr>
  <tr>
    <td><%= link_to "編集", edit_user_registration_path, class:"btn" %><td>
  </tr>
</table>

</div>