.btn{
width: 200px;
}


.reservation-form{
    margin: 20px;
    padding: 15px 30px;
    border: solid;
    border-color: #c0c0c0;
}

.confirm-form{
    margin: 20px;
    padding: 15px 30px;
    width: 350px;
    border: solid;
    border-color: #c0c0c0;
}

.reservations table thead tr {
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
}